<div class="pageContent">	
    <form method="post" action="__CONTROLLER__/edit?callbackType=closeCurrent" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)">
        <input type="hidden"  id='hidden'  name='id' value="<{$vo.id}>"/> 
        <input type="hidden" name='db' value="urls"/> 
        <div class="pageFormContent" layoutH="58">
            <div class="unit">
                <label>URL：</label>
                <input type="text" name="url_content" size="55"  value="<{$vo.url_content}>" class='required url' />
            </div>           
        </div>
        <div class="formBar">
            <ul>
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">Submit</button></div></div></li>
                <li><div class="button"><div class="buttonContent"><button type="button" class="close">Cancel</button></div></div></li>
            </ul>
        </div>
    </form>	
</div>
