<div class="card f-events-and-clubs-detail">
    <div class="card-content f-events-and-clubs-detail-content">
        <p class="card-title f-events-and-clubs-title"><i class="center">
            <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid"
                 viewBox="0 0 23 18">
                <path d="M6 6.7l0.8 0.1c0-0.1 0.3-2.2-1-3.5l0.1-0.3c1.1 0.2 4 0.6 6.5-1.8 2.5 2.4 5.4 2 6.5 1.8l0.1 0.3c-1.3 1.3-1 3.4-1 3.5l0.8-0.1c0 0-0.3-2 0.9-3l0.2-0.2 -0.4-1.6 -0.4 0.1c0 0-3.6 1.2-6.4-1.8L12.4 0l-0.3 0.3C9.3 3.2 5.8 2.1 5.7 2.1L5.2 1.9 4.8 3.5 5 3.7C6.2 4.7 6 6.6 6 6.7zM24.8 7.9l-1.9-1.5L23.4 3.9l-4.1 1.8 0.4 1.7 -2.5 0.7c-0.5-2.3-2.5-4-4.9-4 -2.4 0-4.4 1.7-4.9 3.9L5 7.4l0.4-1.7L1.4 3.9l0.6 2.5L0 7.9l2.5 1.3 -0.1 1.4 5.9 1.5c0.9 1.3 2.4 2.1 4.1 2.1 1.7 0 3.2-0.8 4.1-2.1l6-1.5 -0.1-1.4L24.8 7.9zM15.6 15l-0.4 0.1c-0.9 0.3-2.1 0.8-2.9 1.9 -0.7-1.1-2-1.5-2.9-1.9L9.1 15c-0.7-0.3-2.2-1.3-2.4-2.8L5.9 12.3c0.3 1.9 2 3.1 2.9 3.4l0.4 0.2c1 0.4 2.3 0.9 2.8 2.1l0.4 1.1 0.4-1.1c0.4-1.2 1.8-1.8 2.8-2.1l0.4-0.1c0.9-0.4 2.7-1.6 2.9-3.4l-0.8-0.1C17.8 13.7 16.3 14.7 15.6 15z"
                      fill="#737373"/>
            </svg>
        </i>
            <eq name="Think.session.lang" value="1">
                Departments
            <else/>
                部门
            </eq>
        </p>
        <eq name="Think.session.lang" value="1">
            <h3><{$secInfo.en_name}></h3>
            <p class="f-events-and-clubs-detail-address f-font-14">Add:<span>ShenZheng NanShanQu ShenNanDaDao</span></p>
            <p>
                <{$secInfo.en_desc_}>
            </p>
        <else/>
            <h3><{$secInfo.name}></h3>
            <p class="f-events-and-clubs-detail-address f-font-14">地址：<span>深圳南山区深南大道</span></p>
            <p>
                <{$secInfo.desc_}>
            </p>
        </eq>
        <div class="row f-events-and-clubs-detail-bottom">
            <div class="col m8 s6 f-clubs-detail-participant-and-comment left-align">
                
            </div>            
        </div>
        <div class="f-events-and-clubs-detail-participant">
            <ul class="collection">                           
                <foreach name="userList" item="uList">
                    <li class="collection-item avatar">
                        <a class="" href="<{:U('User/info',array('id'=>code($uList['id'],1)))}>" title="<{$uList.name}>"><img
                                <neq name="uList['logo']" value=''>
                                    src="<{$Think.const.PUBLIC_URL}>Upload/<{$uList.logo}>"
                                <else/>
                                    src="<{$Think.const.PUBLIC_URL}>Upload/common/comm_user.jpg"
                                </neq>
                                alt="<{$uList.name}>" class="circle">
                        </a>
                    </li>
                </foreach>   
            </ul>
        </div>
        <input type="hidden" name="g_id" value="<{$clubInfo['id']}>"/>
    </div>
</div>