<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>demo</title>

    
</head>
<body>
	<div style="position:relative;width:80%;height:80%;margin:0px auto;margin-top:5%;background-color:#22AAF4">
	
		　　我一向认为爱情是唯美的，穿过秋天的林荫道，肩并肩，踩着落叶，走向路的尽头。<br/></p>

		　　也许梦太美好，路太遥远，以至于这一刻变成了永远，定格成一幅油画，最后只能挂在墙上，成为一幅装饰品。<br/></p>

		　　我期待着冬天的来临，因为在那一季我可以看见自己喜欢的雪！<br/></p>

		　　身着寒衣，即使瑟瑟的在风中走过，流过心里的依然有你。<br/></p>

		　　“乞力马扎罗的雪轻轻飘落<br/> 
		　　每一条路都被它慢慢淹没<br/> 
		　　生命在寒冷中冻结成冰 <br/>
		　　谁的魂魄在上帝的庙殿里徘徊迷惑 ...."<br/></p>

		　　乞力马扎罗是一座海拔一万九千七百一十英尺的长年积雪的高山，据说它是非洲最高的一座山。西高峰叫马塞人的“鄂阿奇—鄂阿伊”　　，即上帝的庙殿。在西高峰的近旁，有一具已经风干冻僵的豹子的尸体。豹子到这样高寒的地方来寻找什么，没有人作过解释。
		　　神奇的不止是雪，好奇的不止是人。神奇不用做过多的解释，也没有了解释。<br/></p>

		　　想了又想，然后歪着脑袋，看着天空，心中就会有一个问题冒出来，乞力马扎罗的雪能不能飘到武汉的冬天里？<br/></p>

		　　淡淡一笑，也许吧！飘落的雪也能折射出乞力马扎罗的影！<br/></p>

		　　在昨天以前，我也不知道有一座山，叫乞力马扎罗，有一种雪，让豹子迷恋！<br/></p>

		　　太多事，我们不知，太多的不可思议，令我们感慨。<br/></p>

		　　无声无息间，感动的是你我。<br/>
	</div>
	<div id="login_footer" style="position:relative; margin: 0px auto 0px 40%;">
             ICP证：<a href="http://www.miitbeian.gov.cn" target="_block">粤ICP备17007275号</a>
	</div>
</body>
</html>