<include file="Public:pagerForm"/>
<div class="pageHeader">
    <form rel="pagerForm" onsubmit="return navTabSearch(this);" action="__CONTROLLER__/visit" method="post">
	<div class="searchBar">		
            <table class="searchContent">
                <tr>
                    <td>
                        按年检索<input type="text" name="add_time_y" value="<{$Think.post.add_time_y|substr=0,4}>"/>
                    </td>
                    <td>
                        按年月检索<input type="text" name="add_time_ym" value="<{$Think.post.add_time_ym|substr=0,7}>" alt="2016-12" minlength="7" maxlength="7"/>
                    </td>
                    <td>
                        具体日期<input type="text" name="add_time_ymd" value="<{$Think.post.add_time_ymd}>" class="date" readonly="true"/>
                    </td>
                </tr>
            </table>
            <div class="subBar">
                <ul>
                    <li><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></li>
                </ul>
            </div>
	</div>
    </form>
</div>
<div class="pageContent">
   
    <table class="table" width="60%" layoutH="108">
        <thead>
            <tr>                
                <th width="60"  align="center">序号</th>
                <th width="80" >IP</th>               
                <th width="68" >地区</th> 
                <th width="68" >访问人</th> 
                <th width="88" orderField='add_time' <if condition="$_REQUEST['_order'] eq 'add_time'">class="<{$_REQUEST._sort}>"</if> align="center">访问时间</th> 
            </tr>
        </thead>
        <tbody>
            <foreach name='list' item="list">                
                <tr target="l_id" rel="<{$list.id}>">
                    <td><{$key+1}></td>
                    <td><{$list.ip}></td>          
                    <td><{$list.area}></td>
                    <td><{$list.u_id|getUsername}></td>
                    <td><{$list.add_time|substr=0,10}></td>
                </tr>
            </foreach>
        </tbody>        
    </table>
    <div class="panelBar">
        <div class="pages">
            <span>显示</span>
            <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
            </select>
            <span>条，共<{$totalCount}>条</span>          
        </div>
        <div class="pagination" targetType="navTab" totalCount="<{$totalCount}>" numPerPage="<{$numPerPage}>" pageNumShown="6"  currentPage="<{$currentPage}>"></div>
    </div>
</div>
