<include file="Public:pagerForm"/>
<div class="pageHeader">
    <form rel="pagerForm" onsubmit="return navTabSearch(this);" action="__CONTROLLER__/currencyList" method="post">
	<div class="searchBar">		
            <table class="searchContent">
                <tr>
                    <td>
                        Currency Name<input type="text" name="name" value="<{$Think.post.name}>"/>
                    </td>
                </tr>
            </table>
            <div class="subBar">
                <ul>
                    <li><div class="buttonActive"><div class="buttonContent"><button type="submit">Search</button></div></div></li>
                </ul>
            </div>
	</div>
    </form>
</div>
<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">            
            <li><a class="add" href="<{:U('MinimumPrice/show',array('sign'=>code('3',1),'db'=>code('Currency',1)))}>" target="dialog" mask="true" width='360' height='200'><span>Add</span></a></li>                      
            <li><a title="Are you sure you want to delete" target="selectedTodo" rel="id[]" href="__CONTROLLER__/del/sign/<?php echo code('3',1)?>/db/<?php echo code('Currency',1);?>" class="delete"><span>Batch delete</span></a></li>                  
            <li><a class="edit" href="__CONTROLLER__/show/id/{l_id}/sign/<?php echo code('3',1);?>/db/<?php echo code('Currency',1);?>" target="dialog" mask="true" warn="请选择一条信息" width='360' height='200'><span>Edit</span></a></li>
            <li class="line">line</li>
        </ul>
    </div>
    <table class="table" width="600" layoutH="138">
        <thead>
            <tr>
                <th width="22"><input type="checkbox" group="id[]" class="checkboxCtrl"></th>
                <th width="40"  align="center">No.</th>
                <th width="100" align="center">Currency name</th> 
                <th width="100" align="center">Currency symbol</th>
                <th width="140"  orderField='add_time' <if condition="$_REQUEST['_order'] eq 'add_time'">class="<{$_REQUEST._sort}>"</if> align="center">Warning time</th>
                <th width="150" align="center">Operation</th>
            </tr>
        </thead>
        <tbody>
            <foreach name='list' item="list">
                <tr target="l_id" rel="<{$list.id}>">
                    <td><input name="id[]" value="<{$list.id}>" type="checkbox"></td>
                    <td><{$key+1}></td>
                    <td><{$list.name}></td> 
                    <td><{$list.currency_symbol}></td>
                    <td><{$list.add_time}></td>
                    <td>
                        <a href="<{:U('MinimumPrice/show',array('id'=>code($list['id'],1),'sign'=>code('3',1),'db'=>code('Currency',1)))}>" target="dialog" height="600" width="500"><span style='color:green'>Edit</span></a> | 
                        <a title="Delete the currency information" target="ajaxTodo" href="<{:U('MinimumPrice/del',array('id'=>code($list['id'],1),'db'=>code('Currency',1),'sign'=>code('3',1)))}>" style='color:red'>Delete</a>                       
                    </td>
                </tr>
            </foreach>
        </tbody>        
    </table>
    <div class="panelBar">
        <div class="pages">
            <span>Show </span>
            <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
            </select>
            <span> A total of <{$totalCount}></span>          
        </div>
        <div class="pagination" targetType="navTab" totalCount="<{$totalCount}>" numPerPage="<{$numPerPage}>" pageNumShown="6"  currentPage="<{$currentPage}>"></div>
    </div>
</div>
